# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

.env
.config

docs
src
__tests__

.jest
.github
.mergify.yml
.dockerignore
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc
.nojekyll
Dockerfile
views
public
.env.example
jest.config.js
typedoc.json
tsconfig.json
tsconfig.release.json
